*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*BARRA DE NAVEGACIÓN*/

.header{
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex; /*Permite utilizar FLEXBOX*/
    justify-content: space-between; /*Manejar los elementos en el eje X*/
    align-items: center; /*Manejar los elementos en el eje Y*/
}

.logo{
    width: 30%;
    border-radius: 50%; /*Modificar el radio de los bordes*/
}

.navegacion{
    width: 40%;
}

.content-botones{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none; /*Elimina los puntos de las listas*/
}

.link-nav{
    text-decoration: none; /*Elimina el subrayado de los links*/
    color: black;
    font-size: 20px;
}


/*
.seccion-jardines{
    background-color: aquamarine;
    width: 100%;
    
}

.div-uno{
    
}

.parrafo-uno{
    
}

.div-dos{
    
}

.parrafo-dos{
    
}
.div-tres{
    
}

.parrafo-tres{
    
}*/